
.he{
    display: flex;
    height: 100vh;
    border: 5px solid green;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}
.h1{
    height: 350px;
    width: 400px;
    border: 2px solid blue;
    border-radius: 30px;
    padding-top: 20px;
    padding-right: 10px;
}
.h2{
    height: 40px;
     padding-top: 5px;
    display: flex;
    
    justify-content: center;
    padding: 5px;
}
.h3{
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px;
}
.h4{
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px;
}
.h5{
    display: flex;
    height: 50px;
    justify-content: center;
   
    
    

}
span{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}