.he {
    display: flex;
    height: 100vh;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(239, 211, 211);
}

.h1 {
    height: 500px;
    width: 400px;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid rgb(233, 233, 240);
    background-color: antiquewhite;
}

.h2 {
    height: 40px;
    width: 60%;
    padding: 5px;
}

.h3 {
    height: 40px;
    width: 60%;
    padding: 5px;
}

.h4 {
    height: 40px;
    width: 60%;
    padding: 5px;
}

.h5 {
    height: 40px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(72, 99, 69);




}

span {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}