.e1 {
    display: flex;
    height: 100vh;
    border: 5px solid green;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}

.e2 {
    height: 350px;
    width: 400px;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.e3 {
    height: 40px;
    width: 50%;
    padding: 5px;
}

.e4 {
    height: 40px;
    width: 50%;
    padding: 5px;
}

.e5 {
    height: 40px;
    width: 50%;
    padding: 5px;
}

.e6 {
     height: 40px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(91, 225, 77);
}