.he {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-left: 170vh;
    gap:50px;
    padding-top: 10px;
}

.s1 {
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 2px solid black;
    margin-bottom: 12px;
    border-radius: 6px;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 10px;
    


}
.r5{
    margin-top: 100px;
}

.r1 {
    display: flex;
    height: 50px;
    width: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
   



}

.r4 {
    display: flex;
    height: 50px;
    width: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;


}

.r2 {
    display: flex;
    height: 50px;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: red;
    border-radius: 5px;
    
}

.r3 {
    display: flex;
    height: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: green;
    border-radius: 5px;
}