.i1 {
    display: flex;
    height: 100vh;
    
    justify-content: center;
    
    align-items: center;
    background-color: rgb(239, 211, 211);
}

.i2 {
    height: 350px;
    width: 400px;
    border: 2px solid rgb(233, 233, 240);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: antiquewhite;
}

.i3{
    height: 40px;
    width: 70%;
    padding: 5px;
}
.i4 {
    height: 40px;
    width: 70%;
    padding: 5px;
}


.i5 {
    height: 40px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(72, 99, 69);
}