.l1 {
    height: 50px;
    width: 70px;
    border-radius: 5px;
}

.l2 {
    height: 50px;
    width: 70px;
    border-radius: 5px;
}

.l3 {
    display: flex;
    margin-left: 170vh;
    gap: 30px;
    padding-top: 30px;
}
.l4{
    display: flex;
    height: 50vh;

    
}
.l6{
    display: flex;
    justify-content: center;
   
}
.l7{
    display: flex;
    justify-content: center;
   
}

.mainBox{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    font-size: larger;
}