.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(239, 211, 211);
}

.table {
    height: 500px;
    width: 500px;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(233, 233, 240);
    background-color: antiquewhite;


}

/* .he{
    display: flex;
    padding-bottom: 10px;
} */

.h2 {
    height: 30px;
    width: 300px;
    padding: 5px;
    

}

.h3 {
    height: 40px;
    width: 20%;
    padding: 5px;
    
}

.h4 {
    /* display: flex; */
    height: 30px;
    width: 30%;
    padding: 5px;
    display: inline-block;
    

}

.h5 {
    height: 40px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(72, 99, 69);




}

.button {
    display: flex;
    height: 50px;
    width: 250px;

    justify-content: space-between;


}

.h6 {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    
}

.h7 {
    height: 40px;
    width: 100px;
    border-radius: 5px;
}