.t1{
    height: 100vh;
}

.k1{
    display: flex;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.he{
    display: flex;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 12px;
    border-radius: 6px;
    justify-content: space-between;
}
.t2{
    display: inline-block;
}
.t3{
    display: inline-block;
}
.t4{
    display: inline-block;
}
.t5{
    display: inline-block;
}